.rag-red {
  background-color: #ce565644;
}

.rag-amber {
  background-color: #c9cc3344;
}

.rag-green {
  background-color: #5bce5b44;
}

.rag-danger {
  color: rgb(158, 9, 9);
  background-color: #68686517;
}

.rag-ops {
  color: rgb(12, 116, 177);
  /* background-color: #68686544; */
}

/* color last row */
/* .ag-row.ag-row-last {
  background-color: #cc333344;
} */

.ag-theme-quartz {
  /* bright green, 10% opacity */
  --ag-selected-row-background-color: rgba(62, 133, 233, 0.219);
}
