# Specific Files & Folders
*.csv
*.txt
*.docx
*.columns
*.xlsx
_*


# project files
!requirements.txt
!event*.csv
!ec*.csv


# env & config files
.env
env.js
env.py
cifs*
!__init__.py

# Python
__pycache__/
Pipfile.lock


#DB
*.db
*.db-shm
*.db-wal


# Logs
logs
*.log

# other files
*.png

### Code ###
# Visual Studio Code
.settings/
.vscode/

